@import "tailwindcss";

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-gradient-to-b from-blue-50 via-white to-blue-100 text-gray-900;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    display: none;
  }
}
